body .container-fluid{
	font-family: 'Space Grotesk', Arial, sans-serif;
}
.navbar-nav .nav-item a{
    font-family: "Space Grotesk";
}
.navbar-nav .nav-item a:hover{
    background-color: rgb(10, 204, 204);
    padding: 10px;
    color: white;
    transition: linear 0.3s;
}
.nav-item{
    padding: 15px;
}
.nav-item #contact{
    background-color: rgb(10, 204, 204);
    color: #F5F6FA;
    border: none;
    padding: 10px;
}
.nav-item #contact:hover{
    background-color: rgb(240, 240, 240);
    color: rgb(10, 204, 204);
    transition: linear 0.2s;
    border:1px solid rgb(10, 204, 204);
}
#home-section{
    height:60vh;
    margin-top:100px;
}
#home-section p{
    font-size: 1rem;
}
#home-section .btn-homesection a{
    text-decoration: none;
    color: white;
    background-color:rgb(10, 204, 204);
    padding: 15px;
}
#home-section .btn-homesection a:hover{
    background-color: rgb(240, 240, 240);
    color: rgb(10, 204, 204);
    padding: 15px;
    border: 1px solid rgb(10, 204, 204);
    transition:linear 0.5s;
}
/* aboutme section */
#aboutme{
    margin-top: 100px;
    margin-left:5px;
    margin-right: 5px;
}
#aboutme #img-profile{
    width:100px;
    border: 1px dashed rgb(10, 204, 204);
    border-radius: 50%;
}
#aboutme-photo{
    border-radius:15px;
    border: 1px solid rgb(10, 204, 204);
}
#aboutme-photo #img-profile{
    margin-top: 30px;
}
#aboutme-photo .sub-name{
    font-weight: bold;
    margin-top:10px;
    color: rgb(10, 204, 204);
}
#aboutme-text .description{
    text-align:left;
    width: 100%;
}
#aboutme-text .titre{
    display: flex;
    padding: 2px;
}
#aboutme-text .titre h2{
    font-weight: bold;
}
.experience1 #img-experience{
    width: 30px;
    height: 30px;
}
.experience1{
    display: flex;
    border: 1px dashed rgb(10, 204, 204);
    padding: 10px;
}
.experience1 p{
    padding: 10px;
}
#icone-titre{
    padding-right: 5px;
    color: rgb(10, 204, 204);
}
/* aboutme section */

/* Skills section */

/* Skills section */

/* Projects section */
#projects{
    margin-top: 160px;
}
#projects #btn1{
    font-family: "Space Grotesk";
    color: white;
    border: none;
    background-color:rgb(10, 204, 204);
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
}
#projects #btn1:hover{
    background-color: rgb(240, 240, 240);
    color: rgb(10, 204, 204);
    transition: linear 0.3s;
    border: 1px solid rgb(10, 204, 204);
}
#projects #btn2{
    background-color:rgb(209 213 219);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
/* Projects section */

/* Contact section */
#contact-section{
    margin-top:100px;
    margin-left: 10px;
}
#contact-section form{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
#contact-section form input{
    padding: 15px;
    margin: 10px;
    outline-color: rgb(10, 204, 204);
}
#contact-section form textarea{
    margin: 10px;
    padding: 15px;
    outline-color: rgb(10, 204, 204);
}
#contact-section form button{
    padding: 15px;
    margin: 10px;
    background-color: rgb(10, 204, 204);
    border: none;
    color: white;
}
/* Contact section */

/* Footer section */
#footer{
    background: linear-gradient(to bottom, rgb(10, 204, 204), rgb(155, 186, 207));
    color:white;
    padding: 10px;
    margin-top: 150px;
}
#footer #links-footer a{
    text-decoration: none;
    color: white;
}
#footer #links-footer{
    display: flex;
    flex-direction: column;
}
/* Footer section */