@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body .container-fluid{
	font-family: 'Poppins', Arial, sans-serif;
    background: linear-gradient(to left, rgb(110, 110, 110), rgb(209 213 219));
}
.navbar-nav .nav-item a{
    font-family: "Space Grotesk";
}
.navbar-nav .nav-item a:hover{
    background-color: rgb(10, 204, 204);
    box-shadow: 1px 2px 20px rgb(10, 204, 204);
    padding: 10px;
    color: white;
    transition: linear 0.3s;
}
.nav-item{
    padding: 15px;
}
.nav-item #contact{
    background-color: rgb(10, 204, 204);
    color: #F5F6FA;
    border: none;
    padding: 10px;
}
.nav-item #contact:hover{
    background-color: rgb(240, 240, 240);
    color: rgb(10, 204, 204);
    transition: linear 0.2s;
    border:1px solid rgb(10, 204, 204);
    box-shadow: 1px 2px 20px rgb(10, 204, 204);
}
#home-section{
    height:60vh;
    margin-top:100px;
}
#home-section p{
    font-size: 1rem;
}
#home-section .btn-homesection a{
    text-decoration: none;
    color: white;
    background-color:rgb(10, 204, 204);
    padding: 15px;
}
#home-section .btn-homesection a:hover{
    background-color: rgb(240, 240, 240);
    color: rgb(10, 204, 204);
    padding: 15px;
    box-shadow: 1px 2px 20px rgb(10, 204, 204);
    transition:linear 0.5s;
}
/* aboutme section */
#aboutme{
    margin-top: 100px;
    margin-left:5px;
    margin-right: 5px;
}
#aboutme #img-profile{
    width:100%;
    border-radius: 50%;
}
#aboutme-photo{
    border-radius:10px;
    border: 1px solid rgb(10, 204, 204);
    box-shadow: 1px 1px 30px rgb(10, 204, 204);
}
#aboutme-photo #img-profile{
    margin-top: 30px;
}
#aboutme-photo .sub-name{
    font-weight: bolder;
    margin-top:30px;
    color: rgb(0, 0, 0);
}
#aboutme-text .description{
    text-align:left;
    width: 100%;
}
#aboutme-text .titre{
    display: flex;
    padding: 2px;
}
#aboutme-text .titre h2{
    font-weight: bold;
}
.experience1 #img-experience{
    width: 30px;
    height: 30px;
}
.experience1{
    display: flex;
    border: 1px dashed rgb(10, 204, 204);
    padding: 10px;
}
.experience1 p{
    padding: 10px;
}
#icone-titre{
    padding-right: 5px;
    color: rgb(10, 204, 204);
}
/* aboutme section */

/* Skills section */

/* Skills section */

/* Projects section */
#projects{
    margin-top: 100px;
}
#projects #btn1{
    font-family: "Space Grotesk";
    color: white;
    border: none;
    background-color:rgb(10, 204, 204);
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
}
#projects #btn1:hover{
    background-color: rgb(240, 240, 240);
    color: rgb(10, 204, 204);
    transition: linear 0.3s;
    border: 1px solid rgb(10, 204, 204);
    box-shadow: 1px 2px 20px rgb(10, 204, 204);
}
#projects #btn2{
    background-color:rgb(209 213 219);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
#testimonials{
    box-shadow: 1px 2px 20px rgb(10, 204, 204);
}
/* Projects section */

/* Contact section */
#contact-section{
    margin-top:100px;
    margin-left: 10px;
}
#contact-section form{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
#contact-section form input{
    padding: 15px;
    margin: 10px;
    outline:none;
}
#contact-section form textarea{
    margin: 10px;
    padding: 15px;
    outline:none;
}
#contact-section form button{
    padding: 15px;
    margin: 10px;
    background-color: rgb(10, 204, 204);
    border: none;
    color: white;
}
#contact-section form button:hover{
    background-color: rgb(240, 240, 240);
    color: rgb(10, 204, 204);
    transition: linear 0.2s;
    box-shadow: 1px 2px 20px rgb(10, 204, 204);

}
/* Contact section */

/* Footer section */
#footer{
    background: linear-gradient(to top, rgb(10, 204, 204), rgb(155, 186, 207));
    color:white;
    padding: 10px;
    margin-top: 100px;
}
#footer #links-footer a{
    text-decoration: none;
    color: white;
    padding: 2px;
}
#footer #links-footer a:hover{
    font-size: 1rem;
    color: black;
    transition: linear 0.3s;
}
#footer #links-footer{
    display: flex;
    flex-direction: column;
}
#footer #social-network a{
    color: #ffffff;
    padding: 5px;
}
#footer #social-network a i{
    transition: transform 0.3s cubic-bezier(0.4,0,0.2,1);
}
#footer #social-network a:hover i {
    transform: scale(1.20) rotate(-8deg);
}
/* Bouton retour en haut */
#btnTop {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background:black;
    color: rgb(10, 204, 204);
    box-shadow: 1px 1px 30px rgb(10, 204, 204);
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
}
#btnTop:hover {
    background: rgb(209 213 219);
    color: rgb(10, 204, 204);
    transform: scale(1.1);
    border: 1px solid rgb(10, 204, 204);
}
/* Footer section */

/* La taille de la scrollbar */
::-webkit-scrollbar {
  width: 20px;
  height: 10px; 
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgb(10, 204, 204), rgb(155, 186, 207));
}
